@font-face {
  font-family: "Cormorant Infant Light Italic";
  src: url("../fonts/CormorantInfant-LightItalic.eot");
  src: url("../fonts/CormorantInfant-LightItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/CormorantInfant-LightItalic.woff") format("woff"),
    url("../fonts/CormorantInfant-LightItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Cormorant Infant Semibold Italic";
  src: url("../fonts/CormorantInfant-SemiBoldItalic.eot");
  src: url("../fonts/CormorantInfant-SemiBoldItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/CormorantInfant-SemiBoldItalic.woff") format("woff"),
    url("../fonts/CormorantInfant-SemiBoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Cormorant Infant Bold";
  src: url("../fonts/CormorantInfant-Bold.eot");
  src: url("../fonts/CormorantInfant-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/CormorantInfant-Bold.woff") format("woff"),
    url("../fonts/CormorantInfant-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Proxima Nova Regular";
  src: url("../fonts/ProximaNova-Regular.eot");
  src: url("../fonts/ProximaNova-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/ProximaNova-Regular.woff") format("woff"),
    url("../fonts/ProximaNova-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "PT Sans Regular";
  src: url("../fonts/PTSans-Regular.eot");
  src: url("../fonts/PTSans-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/PTSans-Regular.woff") format("woff"),
    url("../fonts/PTSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "PT Sans Bold";
  src: url("../fonts/PTSans-Bold.eot");
  src: url("../fonts/PTSans-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/PTSans-Bold.woff") format("woff"),
    url("../fonts/PTSans-Bold.ttf") format("truetype");
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

.container {
  width: 1170px;
  margin: 0 auto;
  padding: 0 19px;
}

/* header */

.header {
  padding-top: 37px;
  padding-bottom: 23px;
}

.header__content {
  padding-bottom: 45px;
  text-align: center;
}

.header__title {
  font-family: "Cormorant Infant Bold", sans-serif;
  font-size: 36px;
  line-height: 38px;
  font-weight: 700;
  letter-spacing: 0.005em;
  color: #262626;
  margin: 0 0 11px 0;
}

.header__text {
  font-family: "Cormorant Infant Light Italic", sans-serif;
  font-size: 16px;
  font-weight: 300;
  font-style: italic;
  letter-spacing: 0.005em;
  color: #595959;
}

.gamb {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  display: none;
  padding-bottom: 5px;
}

.burger {
  cursor: pointer;
  color: #262626;
}

.menu__desktop {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0 auto;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 22px;
  border-top: 1px solid #e6e6e6;
}

.mobile {
  display: none;
}

.show {
  display: block;
}

.menu__mobile {
  padding-top: 12px;
  border-top: 1px solid #e6e6e6;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  list-style: none;
  text-align: center;
  padding-left: 0;
}

.menu__item a {
  font-family: "PT Sans Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.005em;
  color: #262626;
  text-decoration: none;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.active a {
  color: #48974c;
}

.menu__item a:hover {
  color: #48974c;
}

/* appeal */
.appeal {
  background: url("../img/shape.png") no-repeat;
  width: 100%;
  padding-top: 80px;
  padding-bottom: 100px;
  background-size: cover;
}
.appeal__block {
  width: 552px;
}
.appeal__message {
  background-color: #fff;
  opacity: 0.94;
}
.appeal__title {
  font-family: "Cormorant Infant Bold", sans-serif;
  font-size: 60px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 0.005em;
  color: #404040;
  padding: 40px 100px 20px 39px;
}
.appeal__text {
  font-family: "PT Sans Regular", sans-serif;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  letter-spacing: 0.005em;
  color: #404040;
  padding: 0 0 50px 38px;
}
.appeal__slide {
  padding-top: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.appeal__slider {
  opacity: 0.6;
}

.appeal__slider:not(:last-child) {
  margin-right: 9px;
}

.active__slider {
  opacity: 1;
}

/* news */
.news {
  background-color: #f8f8f8;
  padding-top: 30px;
  padding-bottom: 70px;
  background-size: cover;
}
.article {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.article__content_grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: -webkit-max-content -webkit-max-content -webkit-max-content -webkit-max-content;
  -ms-grid-rows: max-content max-content max-content max-content;
  grid-template-rows: -webkit-max-content -webkit-max-content -webkit-max-content -webkit-max-content;
  grid-template-rows: max-content max-content max-content max-content;
  -ms-grid-columns: -webkit-max-content -webkit-max-content;
  -ms-grid-columns: max-content max-content;
  grid-template-columns: -webkit-max-content -webkit-max-content;
  grid-template-columns: max-content max-content;
}
.subarticle__content {
  background-color: #fff;
  padding: 25px;
  width: 552px;
}

.subarticle__img {
  width: 100%;
}

.subarticle__content:not(:last-child) {
  margin-bottom: 30px;
}

.date {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 21px;
}

.date a {
  color: #bfbfbf;
}

.date p {
  margin: 0;
}

.subarticle__title {
  font-family: "Cormorant Infant Semibold Italic";
  font-size: 30px;
  font-weight: 600;
  font-style: italic;
  letter-spacing: 0.005em;
  color: #262626;
  padding-bottom: 14px;
}
.subarticle__text {
  font-family: "PT Sans Regular", sans-serif;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  letter-spacing: 0.005em;
  color: #737373;
}
.subarticle__details {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 22px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.btn__details {
  border: 1px solid #48974c;
  display: block;
  text-decoration: none;
  text-align: center;
  font-family: "PT Sans Bold", sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.005em;
  color: #48974c;
  padding: 23px 40px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.btn__details:hover {
  color: #37723a;
  border: 1px solid #37723a;
}

.subarticle__icons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.subarticle__item .subarticle__item_active {
  color: #48974c;
}

.subarticle__item a {
  text-decoration: none;
  color: #ccc;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.subarticle__item:not(:last-child) {
  margin-right: 12px;
}

.subarticle__item a:hover {
  color: #48974c;
}

.auxiliary__content {
  background-color: #fff;
  padding: 25px;
}

.auxiliary__content:first-child {
  border-bottom: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
}

.auxiliary__content:nth-child(2) {
  border-bottom: 1px solid #e6e6e6;
}

.auxiliary__content:nth-child(3) {
  border-bottom: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
}

.auxiliary__content:nth-child(4) {
  border-bottom: 1px solid #e6e6e6;
}

.auxiliary__content:nth-child(5) {
  border-bottom: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
}

.auxiliary__content:nth-child(6) {
  border-bottom: 1px solid #e6e6e6;
}

.auxiliary__content:nth-child(7) {
  border-right: 1px solid #e6e6e6;
}

.auxiliary__title {
  font-family: "Cormorant Infant Semibold Italic";
  font-size: 24px;
  font-weight: 600;
  font-style: italic;
  letter-spacing: 0.005em;
  color: #262626;
  padding-top: 17px;
  padding-bottom: 22px;
}

.auxiliary__text {
  font-family: "PT Sans Regular", sans-serif;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  letter-spacing: 0.005em;
  color: #737373;
  width: 226px;
}

.auxiliary__more {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 22px;
}
.auxiliary__arrow {
  display: block;
  font-weight: bold;
  background-color: #48974c;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  width: 15px;
  padding-left: 2px;
  margin-right: 9px;
}
.auxiliary__link {
  text-decoration: none;
  font-family: "PT Sans Bold", sans-serif;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.005em;
  color: #48974c;
}
.pages {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 25px;
  padding-left: 25px;
}

.btn__pages {
  background-color: #48974c;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  text-align: center;
  font-family: "PT Sans Bold", sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.005em;
  color: #fff;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  width: 157px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 25px 40px;
}

.pages__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 30%;
}

.pages__item:not(:last-child) {
  margin-right: 10px;
}

.pages__item a {
  display: block;
  text-decoration: none;
  font-family: "PT Sans Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.01em;
  color: #262626;
}

.item__page a {
  padding: 23px 25px;
  background-color: #fff;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.item__active a {
  background-color: #449653;
  -webkit-box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.03);
  box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.03);
  color: #fff;
}

.item__page a:hover {
  background-color: #449653;
  -webkit-box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.03);
  box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.03);
  color: #fff;
}

/* building */
.building {
  background: url("../img/building.png") no-repeat;
  width: 100%;
  padding-top: 434px;
  padding-bottom: 70px;
  background-size: cover;
}
.building__progress {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}
.building__text {
  width: 212px;
  background-color: #ffffff;
  padding: 20px 0;
  font-family: "PT Sans Regular", sans-serif;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.005em;
  color: #262626;
}

.announcement {
  background-color: #f8f8f8;
  padding: 70px 0;
}
.announcement__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.announcement__facebook {
  width: 358px;
  background-color: #fff;
  padding: 35px;
}

.announcement__facebook p {
  font-family: "Cormorant Infant Semibold Italic";
  margin-bottom: 25px;
  font-size: 24px;
  line-height: 26px;
  font-weight: 600;
  font-style: italic;
  letter-spacing: 0.005em;
  color: #262626;
}

.announcement__facebook img {
  width: 100%;
}

.announcement__banner {
  width: 746px;
  text-align: center;
  background-color: #fff;
  padding-top: 123px;
}

/* footer */
.footer {
  background-color: #404040;
  padding-top: 47px;
  padding-bottom: 18px;
}
.footer__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  padding-bottom: 60px;
}
.footer__message {
  width: 433px;
}
.footer__title {
  font-family: "Cormorant Infant Bold", sans-serif;
  font-size: 36px;
  line-height: 44px;
  font-weight: 700;
  letter-spacing: 0.005em;
  color: #ffffff;
  margin-bottom: 16px;
}
.footer__text {
  width: 310px;
  font-family: "Cormorant Infant Light Italic", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  font-style: italic;
  letter-spacing: 0.005em;
  color: #ffffff;
}

.footer__list {
  list-style: none;
}

.footer__item:not(:last-child) {
  margin-bottom: 12px;
}

.footer__item a {
  font-family: "PT Sans Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.005em;
  color: #ffffff;
  text-decoration: none;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.footer__item a:hover {
  color: #48974c;
}

.footer__socials_list {
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 40px;
}
.footer__socials_item:not(:last-child) {
  margin-right: 12px;
}

.footer__socials_item a {
  color: #ccc;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.footer__img {
  float: right;
}

.footer__socials_item a:hover {
  color: #48974c;
}

.footer__author_text {
  font-family: "PT Sans Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: 0.01em;
  color: #999999;
  border-top: 1px solid #808080;
  padding-top: 16px;
}

/* responsive */

/* 992-1200 */
@media screen and (max-width: 1200px) {
  .container {
    width: 960px;
  }

  .article {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .subarticle__content {
    width: 100%;
  }

  .article__content_grid {
    -ms-grid-columns: 50% 50%;
    grid-template-columns: 50% 50%;
  }

  .auxiliary__img {
    width: 100%;
  }

  .auxiliary__text {
    width: 100%;
  }

  .pages {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .pages__list {
    margin: 0;
  }

  .announcement__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .announcement__facebook {
    margin: 0 auto;
  }

  .announcement__banner {
    padding-bottom: 123px;
    width: 70%;
    margin: 30px auto 0 auto;
  }
}

/* 768-992 */
@media screen and (max-width: 992px) {
  .container {
    width: 720px;
  }

  .menu__desktop {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .menu__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

/* 576-768 */
@media screen and (max-width: 768px) {
  .container {
    width: 540px;
  }

  .menu__desktop {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    display: none;
  }

  .gamb {
    display: block;
  }

  .appeal__block {
    width: 100%;
  }

  .appeal__message {
    text-align: center;
  }

  .appeal__title {
    padding: 40px 0 0 0;
  }

  .appeal__text {
    padding: 20px 0;
  }

  .article__content_grid {
    -ms-grid-columns: 100%;
    grid-template-columns: 100%;
  }

  .auxiliary__content:first-child,
  .auxiliary__content:nth-child(3),
  .auxiliary__content:nth-child(5),
  .auxiliary__content:nth-child(7) {
    border-right: none;
  }

  .pages .btn__pages {
    display: none;
  }
  .pages,
  .pages__list {
    padding-left: 0;
    padding-right: 0;
  }

  .pages__list {
    margin: 0 auto;
  }

  .building__progress {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .announcement__facebook {
    width: 100%;
  }

  .footer {
    text-align: center;
  }

  .footer__message,
  .footer__menu,
  .footer__socials_list {
    display: none;
  }

  .footer__img {
    float: none;
  }
}

/* 320-576 */
@media screen and (max-width: 576px) {
  .container {
    width: 90%;
  }

  .subarticle__details {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .subarticle__icons {
    padding-left: 0;
    padding-top: 12px;
  }

  .pages__item:nth-child(4),
  .pages__item:nth-child(5),
  .pages__item:nth-child(6),
  .pages__item:nth-child(7) {
    display: none;
  }

  .building__progress {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .building__text,
  .building__progress .btn__pages {
    width: 70%;
    margin: 0 auto;
  }
}
